body, html {
    height: 100%; /* Full height of the page */
    background-color: #f5f5f5; /* Background color */
}
.vertical-center {
    min-height: 100%; /* Minimum height */
    min-height: 100vh; /* Minimum height (viewport height) */
    display: flex;
    align-items: center; /* Vertical centering */
}
.form-container {
    max-width: 400px; /* Maximum width of the form container */
    padding: 40px; /* Padding around the form */
    margin: auto; /* Automatic margins for horizontal centering */
    background-color: #ffffff; /* White background for the form */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Shadow for the form */
    border-radius: 10px; /* Rounded corners for the form */
}
.form-container h2 {
    text-align: center; /* Centering the title */
    margin-bottom: 30px; /* Margin below the title */
}
.form-container .btn-primary {
    width: 100%; /* Full width of the button */
    border-radius: 20px; /* Rounded corners for the button */
}
.form-container label {
    text-align: left; /* Left align the text of labels */
    display: block; /* Labels as block */
}
.form-container input {
    border-radius: 20px; /* Rounded corners for text fields */
    margin-bottom: 20px; /* Margin below the text fields */
}
